#navbari{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#foto{
    border-radius: 100%;
}
#Netflix{
    display: flex;
}
#netflix1{
    display: flex;
}

#yllka{
    display: flex;
}
#bill{
    display: flex;
   margin-top: -2em;
}
#paret{
    margin-left: 20px;
    color: red;
}
#Done{
    display: flex;
}
#paret1{
    color: green;
    margin-left: 20px;
}
#accountbalance{
    background-color: rgba(19, 23, 243, 0.952);
    width: 500px;
    height: 200px;
    border-radius: 20px;
    color: white;
    font-size: larger;
   
    
     }
.hapsira{
    margin-left: 5px;
}
#account{
    padding: 30px;
}
#account1{
    padding-top: 30px;
    padding-right: 30px;
}
#padding{
    padding: 10px;
}
#ngjyra{
    background-color: rgba(19,23,243,0.952);
    width: 500px;
    
    border-radius: 20px;
 
    font-size: larger;
    display: flex;
    justify-content: space-evenly;

}
#yllka{
    display: flex;
}
#yllka1{
    
}


